@import '../_mixins.scss';

.wrapper {
  max-width: 750px;
  width: 100%;
  padding: 0 16px;
  margin: 1.2rem auto 0 auto;
}
.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}