.symbolButton {
  margin-bottom: 15px;
  cursor: pointer;
}

.symbolButton__inner {
  text-align: end;
}

.filter-label {
  color: var(--black-1);
  span {
    display: inline-block;
    font-size: 14px;
    margin-right: 16px;
  }
}

.chevron-down__svg {
  margin-top: 4px;
  opacity: 1;
  transition: transform 0.2s ease 0s;
  transform-origin: center center;
  font-size: 1.25em;
  vertical-align: middle;
}

.chevron-down__svg.active {
  transform: rotate(-90deg);
  transition: transform 0.2s ease 0s;
  transform-origin: center center;
  font-size: 1.25em;
  vertical-align: middle;
}
