.actions {
    overflow: auto;
    &-box {
      float: right;
      button:first-child {
        background-color: #bbbbbb;
      }
    }
    button {
      background-color: var(--secondBlue);
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      font-size: 17px;
      font-family: Raleway;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    button + button {
      margin-left: 4px;
    }
  }